<p>
  <strong><%= t('Title') + ':' %></strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t('Memo')+ ':' %></strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= t('Author') + ':' %></strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= t('Picture') + ':' %></strong>
  <% if @book.book_image.attached? %>
    <%= image_tag @book.book_image %>
  <% end %>
</p>

<%= link_to t('Edit'), edit_book_path(@book) %> |
<%= link_to t('Back'), books_path %>
